  
.accordion {
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #f7f7f7;
  }
  
  .accordion-title:hover {
    background-color: #ececec;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: #fff;
  }
  
  @media screen and (max-width: 700px) {
    .accordion {
      width: 90%;
    }
  }